:root {
    --primary: #d32f2f;
    --primaryLight: #ff5f52;
    --primaryDark: #8e0000;
    --primaryBackground: #ffefee;
    --green: rgb(23, 191, 99);
    --light: #f2f2f2;
    --lightGrey: rgb(230, 236, 240);
    --darkGrey: rgba(0, 0, 0, 0.6);
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0, 0, 0, 0.34);
    --dark: #424242;
    --spacing: 15px;
}

html,body {
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
    min-height: 100%;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--dark);
}

h2 {
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

button,
button:focus {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing);
    background-color: #fff;
}

.brand-container img {
    vertical-align: middle;    
}

.brand-container a.navbar-brand {
    font-size: 16px;
    padding-left: 10px;
}

.logo {
    height: 38px;
}

ul.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.nav-buttons .nav-item:not(:last-child) {
    margin-right: var(--spacing);
}

button.meeting-btn {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px var(--spacing);
    background-color: var(--primary);
    color: var(--light);
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

button.meeting-btn:hover {
    background-color: var(--primaryLight);
    color: white;
}

button.meeting-btn-alt {
    padding: var(--spacing);
    background-color: #fff;
    color: var(--primary);
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

button.meeting-btn-alt:hover {
    background-color: var(--light);
    color: var(--primaryLight);
}

.navbar-nav li.nav-item:not(:last-child) {
    margin-right: 10px;
}

.navbar-nav li.nav-item a {
    color: var(--primary);
    font-size: 16px;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--lightGrey);
    height: 100%;
}

.jumbotron h1 {
    font-size: 58px;
    color: var(--dark);
}

.jumbotron-image {
    height: 390px;
    border: 5px solid var(--light);
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--dark);
    display: block;
    margin: 0 auto;
}

.jumbotron-list > *:not(:last-child) {
    margin-bottom: var(--spacing);
}

.code-input {
    background-color: transparent;
    font-size: 16px;
    color: var(--dark);
}

/* index.html */
.meeting-room button {
    padding: var(--spacing);
    border-radius: 5px;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

button.btn-hover-light:hover {
    background-color: var(--light);
    color: var(--primary);
}

.meeting-room-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--lightGrey);
    min-height: 100vh;
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    min-width: 400px;
    transition: right 0.2s ease-out;
    z-index: 1;
}

.meeting-room-sidebar.open {
    right: 0;
}

.meeting-room-sidebar .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meeting-room-sidebar .sidebar-btn-container {
    margin-bottom: var(--spacing);
}

.meeting-room-sidebar .sidebar-btn-container button:nth-child(2) {
    margin-left: 10px;
}

.meeting-room-sidebar .sidebar-btn-container button.active {
    background-color: var(--primaryDark);
    color: white;
}

.meeting-room-sidebar #chatContainer,
.meeting-room-sidebar #participantsContainer {
    flex: 1;
}

.meeting-room-sidebar #chatContainer .message-container {
    margin-bottom: 10px;
}

.meeting-room-sidebar .sidebarFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.meeting-room-sidebar .sidebarFooter input#sidebarInput {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid var(--primary);
    font-weight: 300;
    padding: 10px;
}

.meeting-room-sidebar .sidebarFooter button#sendBtn {
    transition: color 0.2s ease-out;
}

.meeting-room-sidebar .sidebarFooter button#sendBtn:hover {
    color: var(--primary);
}

.meeting-room-sidebar .message-container span {
    font-weight: 700;
    margin-right: 5px;
}

.meeting-room-main {
    height: 100%;
    min-height: 100%;
    background-color: var(--dark);
    display: flex;
    flex-wrap: wrap;
}

.meeting-room-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--lightGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--spacing);
}

.meeting-room-footer .bottom-right #screenShareBtn {
    margin-right: var(--spacing);
}

.meeting-room-footer .bottom-right #screenShareBtn .material-icons {
    margin-left: 10px;
}

.meeting-room-footer .bottom-middle button#callBtn {
    color: var(--primary);
}

.meeting-room-footer .bottom-middle button {
    background-color: white;
    border: 1px solid var(--darkGrey);
    border-radius: 4px;
}

.meeting-room-footer .bottom-middle button:hover {
    background-color: var(--primary);
    color: var(--light) !important;
}

.meeting-room-footer .bottom-middle > button:not(:last-child) {
    margin-right: var(--spacing);
}

button span.material-icons {
    vertical-align: middle;
}

#participantsBtn {
    position: relative;
    margin-right: var(--spacing);
}

#usersContainer .userbox {
    flex: 1;
    border: 2px solid var(--lightGrey);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

#usersContainer .userbox h2 {
    text-align: center;
    color: var(--light);
}

#usersContainer .userbox .mediaContainer {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: black;
}

#usersContainer .userbox video {
    width: 100%;
}